<div class="title">
    <h2><%= title %></h2>
</div>
    <ul class="left-panel-content">
        <li>Chat 1</li>
        <li>Chat 2</li>
        <li>Chat 3</li>
        <li>Chat 4</li>
        <li>Chat 5</li>
        <li>Chat 6</li>
    </ul>